.container {
    margin: 20px 0;
    text-align: center;
}

.title {
    color: var(--title-color);
    font-size: 26px;
    margin-bottom: 20px;
}

.paragraph {
    color: var(--paragraph-color);
    font-size: 19px;
}