@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import "./styles/animations/animations.css";

* {
  border: 0;
  box-sizing: border-box;
  font-family: var(--primary-font), var(--secondary-font);
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --cloud-burst-color: #1f3251;
  --cod-gray-color: #1f1c1c42;
  --periwinkle-gray-color: #d6e2f0;
  --regent-gray-color: #7b879d;
  --white-color: #ffffff;

  --primary-font: "Outfit";
  --secondary-font: sans-serif;
}

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  background-color: var(--periwinkle-gray-color);
}
