@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

:root {
  --background: #d6e2f0;
  --card: #ffffff;
  --description: #7b879d;
  --title: #1f3251;
}

body {
  background-color: var(--background);
  font-family: "Outfit", sans-serif;
}
